<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='//netdna.bootstrapcdn.com/twitter-bootstrap/2.1.0/css/bootstrap-combined.min.css' />
    <script type="text/javascript" src="http://craftyjs.com/release/0.4.9/crafty-min.js"></script>
    <script src="/js/bundle.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="hero-unit">
        <h1><%= title %></h1>
        <p>Welcome to <span id="title"></span></p>
      </div>
      <div class="row">
        <div class="span12">
          <p style="text-align: center;"><canvas id='canvas' width='800' height='600'></canvas><p>
        </div>
      </div>
    </div>
  </body>
</html>
